body.index{ 
    margin: 0;
    padding: 0;
    height: 100vh;
    justify-content: center;;
    display: flex;
    background-size: cover;
    background-image:url('../Images/portfolio_website_video.gif');
    background-repeat: no-repeat;
}
h1.index{
    text-align: center;
    color: whitesmoke;
    font-family:"Courier" , monospace;
    font-size: 4vw;
}
span.name{
    color: #5790c1
}
.containerIndex{
    align-self: center;
}
body.About, .Portfolio, .Contact, .Resume {
    color: white;
    background-color: rgb(5, 5, 5);
    height:fit-content;
    padding: 0;
    margin:0;
    margin-bottom: 30px;
}
ul li{
    list-style: none;
    padding: 0;
    margin:0;
    text-decoration: none;
    box-sizing: border-box;
    background-color: transparent;
}
nav{
    background-color:rgb(5, 5, 5);
    height: 5vw;
    width: 100%;
    position: fixed;
}
nav.index{
    background-color:transparent;
    height: 5vw;
    width: 100%;
    position: fixed;
}
label.logo{
    color:white;
    font-size: 3.5vw;
    line-height: 100px;
    padding: 0 80px;
    font-weight: bold;
    font-family:"Courier" , monospace;
}
nav ul{
    float: right;
    margin-right: 20px;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 20px;
    margin: 0;
    margin-right: 15px;
}
nav ul li{
    display: inline-block;
    line-height: 7vw;
    margin: 0 5px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.3vw;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    cursor: pointer;
    font-family:"Courier" , monospace;
}
a.active, a:hover{
    background: #5790c1;
    transition: .5s;
    font-weight: bold;
    color: black
}
.container{
    text-align: center;
    position:inherit;
    margin-top: 8vw;
    margin-left: 2.8vw;
    margin-right: 2.8vw;
    width: 95%;
    height: fit-content;
    float: left;
    background-image: linear-gradient(29deg, transparent, transparent, #5790c1);
    border: 1px solid #5790c1;
    animation: none;
}
img.profile{
    float: left;
    margin-left: 3vw;
    width: 25%;
    height: 25vw;
    border-radius: 50%;
    margin-top: 70px;
    border: 2px solid #5790c1;
}
.InfoAbout1{
    position: inherit;
    width: 55vw;
    height:fit-content;
    background-color: transparent;
    margin-top: 50px;
    margin-left: 5vw;
    float: left;
}
.h1Title{
    padding-left: 20px;
    color: #5790c1;
    font-size: 3.1vw;
    font-weight: bolder;
    font-family:"Courier" , monospace;
    height: fit-content;
}
.aboutLabel{
    color: white;
    font-size: 1.2vw;
    font-weight: bold;
    font-family:"Courier" , monospace;
}
.aboutHypen{
    margin-left: 40px;
    color: #5790c1;
    font-size: 1.2vw;
    font-weight: bolder;
    font-family:"Courier" , monospace;
}
.aboutInfo{
    color: white;
    font-size: 1.2vw;
    font-weight: normal;
    font-family:"Courier" , monospace;
    height: fit-content;
}
.aboutMe{
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    margin-top: auto;
    font-family:"Courier" , monospace;
    font-size: 1.2vw;
    text-align: justify;
    margin-bottom: 90px;
}
.skillsLabel{
    width: fit-content;
    padding-left: 10vw;
    color: #5790c1;
    font-size: 2.5vw;
    font-weight: bolder;
    font-family:"Courier" , monospace;
    margin-top: auto;
}
.skillsbar{
    margin-left:10vw;
    width: 80vw;
    height: fit-content;
    background-color: transparent;
    border-radius: 12px;
    border: 2px solid #5790c1;
}
.skillSetPercentage{
    text-align: right;
    color: black;
    font-size: 0.8vw;
    font-weight: bold;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.html{
    width: 90%;
    height: fit-content;
    background-color: #5790c1;
    border-radius: 12px;
}
.skillsSublabel{
    margin-left: 10vw;
    font-size: 1.5vw;
    font-weight: bold;
    font-family:"Courier" , monospace;
}
.css{
    width: 70%;
    height: fit-content;
    background-color: #5790c1;
    border-radius: 12px;
}
.java{
    width: 60%;
    height: fit-content;
    background-color: #5790c1;
    border-radius: 12px;
}

.php{
    width: 50%;
    height: fit-content;
    background-color: #5790c1;
    border-radius: 12px;
}

.django{
    width: 50%;
    height: fit-content;
    background-color: #5790c1;
    border-radius: 12px;
}
.Label{
    margin-top: inherit;
    padding-left: 7vw;
    color: #5790c1;
    font-size: 2.5vw;
    font-weight: bolder;
    font-family:"Courier" , monospace;
    float: left;
    padding-top: 4vw;
    margin-bottom: 2vw;
}
.gridContainer{
    color: black;
    width: 90%;
    height: fit-content;
    background-color: transparent;
    padding-top: 30px;
    margin-top: auto;
    margin-left: 5%;
    margin-right: 5%;
    float: left;
    margin-bottom: 30px;
    border: 1px solid #5790c1;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(25vw, 25vw));
    column-gap: 30px;
    row-gap: 30px;
    position:inherit;
    justify-content: center;
    
}
.gridOne{
    width: 25vw;
    height: 25vw;
    border-radius: 12px;
    background-color: white;
}
.gridTwo{
    width: 25vw;
    height: 25vw;
    border-radius: 12px;
    background-color: white;
}
.gridThree{
    width: 25vw;
    height: 25vw;
    border-radius: 12px;
    background-color: white;
}
.gridFour{
    width: 25vw;
    height: 25vw;
    border-radius: 12px;
    background-color: white;
}
.gridFive{
    width: 25vw;
    height: 25vw;
    border-radius: 12px;
    background-color: white;
}
.gridSix{
    width: 25vw;
    height: 25vw;
    margin-bottom: 20px;
    border-radius: 12px;
    background-color: white;
}
.gridSeven{
    width: 25vw;
    height: 25vw;
    border-radius: 12px;
    background-color: white;
}
.gridEight{
    width: 25vw;
    height: 25vw;
    margin-bottom: 20px;
    border-radius: 12px;
    background-color: white; */
}
.gridNine{
    width: 25vw;
    height: 25vw;
    margin-bottom: 20px;
    border-radius: 12px;
    background-color: white; */
}
.gridOne img{
    border-radius: 12px;
    width: 100%;
    height:100%;
    object-fit:inherit;
    object-position: center;
}
.gridTwo img{
    border-radius: 12px;
    width: 100%;
    height:100%;
    object-fit:inherit;
}
.gridThree img{
    border-radius: 12px;
    width: 100%;
    height:100%;
    object-fit:inherit;
}
.gridFour img{
    border-radius: 12px;
    width: 100%;
    height:100%;
    object-fit:inherit;
}
.gridFive img{
    border-radius: 12px;
    width: 100%;
    height:100%;
    object-fit:inherit;
}
.gridSix img{
    border-radius: 12px;
    width: 100%;
    height:100%;
    object-fit:inherit;
}
.gridSeven img{
    border-radius: 12px;
    width: 100%;
    height:100%;
    object-fit:inherit;
}
.gridEight img{
    border-radius: 12px;
    width: 100%;
    height:100%;
    object-fit:inherit;
}
.gridNine img{
    border-radius: 12px;
    width: 100%;
    height:100%;
    object-fit:inherit;
}
.gridOne img:hover,.gridTwo img:hover, .gridThree img:hover, .gridFour img:hover, .gridFive img:hover, .gridSix img:hover, .gridSeven img:hover, .gridEight img:hover, .gridNine img:hover{
    opacity: 1;
    transition: .5s;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
::-webkit-scrollbar{
    background: transparent;
    width: 7px;
}
::-webkit-scrollbar-thumb{
    background-color: #5790c1;
    border-radius: 12px;
}
.contactMain{
    color: white;
    width: 100%;
    height: fit-content;
    background-color: transparent;
    margin-top: inherit;
    margin-bottom: 30px;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 460px));
    position:relative;
    justify-content: center;
    padding-top: 3vw;
}
.contactContainer{
    width: 95%;
    height:10vw;
    color: white;
    background-color: rgb(26, 25, 25);
    justify-self: center;
    align-self: center;
    margin-bottom: 30px;
    border-radius: 12px;
}
.Head{
    width: 400px;
    margin-left: 5vw;
    margin-top: .5vw;
    color: white;
    font-size: 1.8vw;
    font-family:"Courier" , monospace;

}
.contactContainer p{
    margin-top:5vw;
    margin-left: 5.5vw;
    margin-right: 10px;
    font-size: 1vw;
    color: white;
    font-family: 'Courier', monospace;
    text-align:justify;
}
.contactContainer a{
    margin-right: 10px;
    font-size: 1vw;
    color: white;
    font-family: 'Courier', monospace;
    text-align: left;
    text-decoration: none;
}
.contactContainer a:hover{
    background-color: transparent;
    color: #5790c1;
    text-decoration: none;
}
.iconbg{
    float: left;
    width: 3.5vw;
    height: 3.5vw;
    border-radius: 50%;
    background-color: #5790c1;
    margin-left: 5px;
    margin-top: 1vw;
}
.fa-location-dot{
    margin-left: .9vw;
    margin-right:  1.1vw;
    margin-top: .5vw;
    margin-bottom:  .5vw;
    text-align: center;
    font-size: 2.5vw;
    color: black;
    float: left;
}
.fa-envelope{
    margin-left: .5vw;
    margin-right:  .5vw;
    margin-top: .5vw;
    margin-bottom:  .5vw;
    font-size: 2.5vw;
    color: black;
    float: left;
}
.fa-share-nodes{
    margin-left: .5vw;
    margin-right:  .5vw;
    margin-top: .5vw;
    margin-bottom:  .5vw;
    font-size: 2.5vw;
    color: black;
    float: left;
}
.fa-phone-volume{
    margin-left: .5vw;
    margin-right:  .5vw;
    margin-top: .5vw;
    margin-bottom:  .5vw;
    font-size: 2.5vw;
    color: black;
    float: left;
}
.facebook{
    float: left;
    width: 2vw;
    height: 2vw;
    background-color: gray;
    margin-top: 5vw;
    margin-left: 1.8vw;
    border-radius: 50%;
}
.github{
    float: left;
    width: 2vw;
    height: 2vw;
    background-color: gray;
    margin-top: 5vw;
    margin-left: 1vw;
    border-radius: 50%;
}
.instagram{
    float: left;
    width: 2vw;
    height: 2vw;
    background-color: gray;
    margin-top: 5vw;
    margin-left: 1vw;
    border-radius: 50%;
}
.fa-facebook{
    margin-left: .3vw;
    margin-top: .3vw;
    font-size: 1.5vw;
    color: black;
    float: left;
    border-radius: 50%;
}
.fa-github{
    margin-left: .3vw;
    margin-top: .3vw;
    font-size: 1.5vw;
    color: black;
    float: left;
    border-radius: 50%;
}
.fa-square-instagram{
    margin-left: .4vw;
    margin-top: .3vw;
    font-size: 1.5vw;
    color: black;
    float: left;
    border-radius: 50%;
}
.facebook:hover, .github:hover, .instagram:hover{
    background-color: #5790c1;
    cursor: pointer;
    transition: .5s;
    -webkit-transform: scale(1.1);
    transform: scale(1.1); 
}
body{
    animation: transitionIn 0.75s;
}
@keyframes transitionIn {
    from{
        opacity: 0;
        transform: translateY(-10px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}






